{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Loteria :: Rateio{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_loteria_index') }}" class="text-decoration-none"><twig:ux:icon name="meteor-icons:clover" class="Icon icon-rotate-45" /> Loteria</a></li>
    <li class="breadcrumb-item active"><twig:ux:icon name="material-symbols:groups" /> Rateio</li>
{% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h1 class="h4 m-0">
                        <twig:ux:icon name="material-symbols:groups" /> Rateio
                    </h1>
                </div>
                <div>
                    <a href="{{ path('app_loteria_rateio_new', {'uuid': loteria.uuid}) }}" class="btn btn-secondary btn-sm bg-gradient shadow-sm">
                        <twig:ux:icon name="bi:plus-circle" /> Novo
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover table-bordered shadow-sm">
                <thead>
                    <tr>
                        <th class="d-table-cell d-xl-none">Apostador</th>
                        <th class="d-none d-xl-table-cell">Nome</th>
                        <th class="d-none d-xl-table-cell">E-mail</th>
                        <th class="d-none d-xl-table-cell">Contato</th>
                        <th class="d-none d-xl-table-cell">Atualização</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for apostador in apostadores %}
                        <tr>
                            <td class="d-table-cell d-xl-none text-break">
                                <p>
                                    <strong>Nome</strong><br/>
                                    {{ apostador.nome }}
                                </p>
                                <p>
                                    <strong>E-mail</strong><br/>
                                    {{ apostador.email }}
                                </p>
                                <p>
                                    <strong>Contato</strong><br/>
                                    {% if apostador.celular %}
                                        {{ apostador.celular }}
                                    {% else %}    
                                        {{ apostador.telefone }}
                                    {% endif %}
                                </p>
                                <p>
                                    <strong>Atualização</strong><br/>
                                    {{ apostador.updatedAt ? apostador.updatedAt|date('d/m/Y H:i', 'America/Sao_Paulo') : apostador.createdAt|date('d/m/Y H:i', 'America/Sao_Paulo') }}
                                </p>
                            </td>
                            <td class="d-none d-xl-table-cell align-middle">{{ apostador.nome }}</td>
                            <td class="d-none d-xl-table-cell align-middle">{{ apostador.email }}</td>
                            <td class="d-none d-xl-table-cell align-middle">
                                {% if apostador.celular %}
                                    {{ apostador.celular }}
                                {% else %}    
                                    {{ apostador.telefone }}
                                {% endif %}
                            </td>
                            <td class="d-none d-xl-table-cell align-middle">
                                {{ apostador.updatedAt ? apostador.updatedAt|date('d/m/Y H:i', 'America/Sao_Paulo') : apostador.createdAt|date('d/m/Y H:i', 'America/Sao_Paulo') }}
                            </td>
                            <td class="text-center align-middle">
                                <div class="dropdown dropstart">
                                    <button class="btn btn-sm btn-secondary bg-gradient shadow-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <twig:ux:icon name="bi:three-dots-vertical" />
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a data-loading="true" class="dropdown-item" href="{{ path('app_apostador_edit', {'uuid': apostador.uuid}) }}"><twig:ux:icon name="bi:pencil" /> Alterar</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><button type="button" class="dropdown-item text-bg-danger" data-controller="delete" data-action="click->delete#show" data-delete-uuid-value="{{ apostador.uuid }}" data-delete-mensagem-value="{{ 'Deseja excluir <strong>"' ~ apostador.nome ~ '"</strong>?' }}"><twig:ux:icon name="bi:trash3" /> Excluir</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center"><twig:ux:icon name="bi:emoji-frown" /> Nenhum registro encontrado</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {{ include('_tableFooter.html.twig', {'paginacao': apostadores}) }}
    </div>
    {{ include('_deleteModal.html.twig', {'deleteAction': path('app_loteria_rateio_delete')}) }}
</div>
{% endblock %}
